/* Das ist CSS */

#navbar {
    background-color: #E51433;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    height: 40px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}